/* App.css */

/* Container styles */
.container2 {
  max-width: 1000px;
  margin: 0 auto;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.attack-path {
  background-color: #f5f5f5; /* Light gray background */
  padding: 10px; /* Add some padding */
  margin-bottom: 10px; /* Add some space between paragraphs */
  border-radius: 5px; /* Add rounded corners */
}

/* Style for the attack path headers */
.attack-path-header {
  font-weight: bold; /* Make the text bold */
  margin-top: 20px; /* Add some space above the headers */
}


/* Header styles */
h1 {
  text-align: center;
  color: #333;
}

/* Table button styles */
.table-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.table-buttons button {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
}

.table-buttons button:hover {
  background-color: #f0f0f0;
}

/* Add a different background color for the selected button */
.table-buttons button.selected {
  background-color: #333;
  color: #fff;
}

/* Loading and error message styles */
.loading-error {
  text-align: center;
  color: red;
}

/* Asset dropdown styles */
.asset-container {
  margin-top: 20px;
}

.asset-container label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #555;
}

.asset-container select {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  box-sizing: border-box;
  margin-bottom: 10px;
}

/* Asset title styles */
.asset-title {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

/* Attack path styles */
.attack-path {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  background-color: #fff;
  margin-bottom: 10px;
}

.attack-path-header {
  font-weight: bold;
  color: #555;
}

/* Increase the size of bold headings */
.attack-path strong {
  font-size: 20px; /* Adjust the font size as needed */
}

.download-button-container {
  text-align: center;
  margin-bottom: 20px;
}