.node__root > circle {
    fill: palevioletred;
  }
  
  .node__branch > circle {
    fill: yellow;
  }
  
  .node__leaf > circle {
    fill: rgb(67, 162, 199);
    /* Let's also make the radius of leaf nodes larger */
  }